	body {
		font-family: "Poppins", sans-serif;
		height: 100vh;
		color: #ededed;
		margin: 0;
		background: #121212;
	}

	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 10px 10px 30px 10px;
	}

	.pointing {
		background: #1ed760;
		color: #313131;
	}

	header img {
		height: 50px;
		border-radius: 50%;
	}

	header button {
		background: #313131;
		color: #ededed;
		font-size: 14px;
		padding-left: 30px;
		padding-right: 30px;
		border: 0px;
		border-radius: 50px;
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		cursor: pointer;
	}

	main {
		margin-left: 20px;
		margin-right: 20px;
	}

	.recent {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.7rem;
	}

	.playlist-box {
		display: flex;
		align-items: center;
		background: #313131;
		border-radius: 8px;
		padding: 0.75rem;
		gap: 1rem;
	}

	.playlist-box img {
		border-radius: 5px;
		width: 50px;
		height: 50px;
		object-fit: cover;
	}

	.playlist-box p {
		margin: 0;
		font-size: 0.9rem;
		font-weight: 500;
	}

	footer {
		width: 360px;
		margin-left: 32px;
		width: 98%;
		position: fixed;
		bottom: 0;
		left: 0;
	}

	footer button {
		background: none;
		border: none;
		font-size: 15px;
		color: #b3b3b3;
		font-family: "Poppins", sans-serif;
		font-weight: 300;
	}

	footer i {
		font-size: 23px;
	}

	.pointing-footer {
		color: #ededed;
	}

	#time-info {
		margin-top: 5px;
		font-size: 14px;
		color: #ccc;
		display: flex;
		justify-content: space-between;
	}

	#head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;
	}

	#head span {
		font-size: 24px;
		cursor: pointer;
	}

	h1 {
		font-size: 22px;
		font-weight: 600;
		text-align: left;
		color: #ededed;
		margin-top: 9px;
		margin-bottom: 0;
	}

	h2 {
		font-size: 19px;
		font-weight: 400;
		text-align: left;
		padding: 0;
		margin: 0;
		color: #dedede;
		cursor: pointer;
	}

	#img1 {
		border-radius: 10px;
	}

	#player-container {
		width: 100%;
		height: 100%;
		color: #fff;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(#515151, #121212);
		position: fixed;
		z-index: 2;
	}

	#player-mini {
		position: fixed;
		bottom: 80px;
		left: 0;
		width: 500px;
		border-radius: 10px;
		background: black;
		color: white;
		padding: 12px;
		display: flex;
		flex-direction: row;
		margin-bottom: 5px;
		margin-left: 5px;
		margin-right: 5px;
		z-index: 3;
	}

	#mini-info {
		display: flex;
		flex-direction: row;
		margin: 0;
		width: 70%;
	}

	#mini-info img {
		border-radius: 5px;
	}

	#mini-controls {
		margin: 0;
		width: 30%;
		text-align: right;
	}

	#play-mini {
		background: none;
		color: #fff;
		font-size: 30px;
		border: none;
		cursor: pointer;
	}

	h5 {
		font-size: 15px;
		font-weight: 500;
		text-align: left;
		color: #ededed;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 10px;
		padding: 0;
	}

	h6 {
		font-size: 10px;
		font-weight: 400;
		text-align: left;
		padding: 0;
		margin-left: 10px;
		margin-top: 0;
		margin-bottom: 0;
		color: #dedede;
	}

	#player {
		padding: 30px;
		border-radius: 15px;
		text-align: center;
		width: 400px;
		height: 90%;
	}

	.controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 28px 0;
	}

	.controls button {
		cursor: pointer;
	}

	.controls #prev {
		background: none;
		border: none;
		color: #b3b3b3;
		font-size: 24px;
		cursor: pointer;
	}

	.controls #next {
		background: none;
		border: none;
		color: #b3b3b3;
		font-size: 24px;
		cursor: pointer;
	}

	.controls #shuffle {
		background: none;
		border: none;
		color: #b3b3b3;
		font-size: 20px;
		cursor: pointer;
	}

	.controls #loop {
		background: none;
		border: none;
		color: #b3b3b3;
		font-size: 20px;
		cursor: pointer;
	}

	.controls #play {
		width: 64px;
		height: 64px;
		background-color: #ffffff;
		color: #000;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		border: none;
	}

	.hidden {
		display: none;
		opacity: 0;
		pointer-events: none;
	}

	.hidden button {
		pointer-events: none;
		cursor: default;
	}

	input[type="range"] {
		width: 100%;
		margin-top: 15px;
	}

	input[type="range"] {
		appearance: none;
		width: 100%;
		height: 4px;
		background: linear-gradient(to right, #ededed 0%, rgba(237, 237, 237, 0.1) 0%);
		border-radius: 5px;
		outline: none;
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		height: 7px;
		width: 7px;
		border-radius: 50%;
		background: #ededed;
		cursor: pointer;
		border: none;
	}

	input[type="range"]::-moz-range-thumb {
		height: 18px;
		width: 18px;
		border-radius: 50%;
		background: #ededed;
		cursor: pointer;
		border: none;
	}

	input[type="range"]::-moz-range-track {
		background: #444;
		height: 8px;
		border-radius: 5px;
	}

	b {
		font-weight: 600;
	}

	#text {
		text-align: left;
		background-color: #515151;
		height: auto;
		border-radius: 20px;
	}

	#text-preview {
		padding: 12px;
		font-weight: 600;
	}

	#lyrics-preview {
		padding-left: 12px;
		font-size: 24px;
		font-weight: 600;
		color: #212121;
	}

	#show-lyrics {
		margin-top: 10px;
		margin-left: 12px;
		margin-bottom: 12px;
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 4px;
		padding-bottom: 4px;
		border: 0px;
		border-radius: 20px;
		font-family: "Poppins", sans-serif;
		font-weight: 500;
		cursor: pointer;
	}

	#lyrics-new {
		text-align: left;
		padding-left: 12px;
		font-size: 24px;
		font-weight: 600;
		color: #212121;
		margin-top: 100px;
		overflow-y: auto;
		max-height: 100vmax;
		scrollbar-width: none;
		-ms-overflow-style: none;
		margin-bottom: 30px;
	}

	#lyrics-new::-webkit-scrollbar {
		display: none;
	}

	#lyrics-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #515151;
		color: #fff;
		z-index: 4;
		margin: 0;
		justify-content: center;
		transition: opacity 0.3s ease-in-out;
	}

	#lyrics-container {
		width: 440px;
		margin: 0;
		text-align: center;
	}

	#song-info {
		top: 25px;
		position: fixed;
		display: flex;
		flex-direction: row;
		margin: 0;
	}


	#img2 {
		border-radius: 4px;
	}

	h3 {
		font-size: 20px;
		font-weight: 500;
		text-align: left;
		color: #ededed;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 10px;
		padding: 0;
	}

	h4 {
		font-size: 15px;
		font-weight: 400;
		text-align: left;
		padding: 0;
		margin-left: 10px;
		margin-top: 0;
		margin-bottom: 0;
		color: #dedede;
	}

	#bottom-bar {
		position: fixed;
		bottom: 0;
		background-color: #515151;
	}

	.bottom-controls {
		width: 440px;
		margin-top: 20px;
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.bottom-controls button {
		cursor: pointer;
	}

	.bottom-controls #prev-lyr {
		background: none;
		border: none;
		color: #ffffff;
		font-size: 24px;

	}

	.bottom-controls #next-lyr {
		background: none;
		border: none;
		color: #ffffff;
		font-size: 24px;
		cursor: pointer;
	}

	.bottom-controls #loop-lyr {
		background: none;
		border: none;
		color: #ffffff;
		font-size: 20px;
		cursor: pointer;
	}

	.bottom-controls #hide-lyrics {
		background: none;
		border: none;
		color: #ffffff;
		font-size: 24px;

	}

	.bottom-controls #play-lyr {
		width: 64px;
		height: 64px;
		background-color: #ffffff;
		color: #000;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
		border: none;
	}

	.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.footer button {
		font-size: 14px;
		background: none;
		border: none;
		cursor: pointer;
	}

	.footer #devices {
		color: #b3b3b3;
	}

	.footer #dont-disturb {
		color: #b3b3b3;
	}

	.footer #teledisk {
		color: #b3b3b3;
	}

	.footer #lyrics {
		color: #b3b3b3;
	}

	.footer #share {
		color: #b3b3b3;
	}

	.footer #list {
		color: #b3b3b3;
	}

	#explicit {
		display: inline;
		font-weight: normal;
		font-family: "Noto Sans HK", sans-serif;
		margin-left: 4px;
		font-size: 90%;
		color: #dedede;
	}

	i[class^="icon-shuffle"].active,
	i[class^="icon-loop"].active {
		color: #1ed760 !important;
	}

	@media (max-width: 600px) {

		header img {
			height: 40px;
		}

		header button {
			font-size: 10px;
			padding-left: 20px;
			padding-right: 20px;
			border: 0px;
			border-radius: 50px;
			font-family: "Poppins", sans-serif;
			font-weight: 500;
			cursor: pointer;
		}

		main {
			margin-left: 10px;
			margin-right: 10px;
		}

		.playlist-box {
			border-radius: 5px;
			padding-left: 0.55rem;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}

		.playlist-box img {
			border-radius: 4px;
			width: 40px;
			height: 40px;
		}

		.playlist-box p {
			font-size: 0.8rem;
		}

		footer {
			width: 100%;
			position: fixed;
			bottom: 0;
			left: 0;
		}

		footer button {
			margin-bottom: 15px;
			margin-left: 15px;
		}

		#player {
			width: 90%;
		}

		h1 {
			font-size: 1.3em;
		}

		h2 {
			font-size: 1em;
		}

		#img img {
			width: 100%;
			height: auto;
		}

		#lyrics-container {
			width: 90%;
			margin: 0;
			text-align: center;
		}

		#song-info {
			top: 25px;
			left: 12px;
			position: fixed;
			display: flex;
			flex-direction: row;
			margin: 0;

		}

		#img2 {
			border-radius: 4px;
		}

		h3 {
			font-size: 20px;
			font-weight: 500;
			text-align: left;
			color: #ededed;
			margin-top: 0;
			margin-bottom: 0;
			margin-left: 10px;
			padding: 0;
		}

		h4 {
			font-size: 15px;
			font-weight: 400;
			text-align: left;
			padding: 0;
			margin-left: 10px;
			margin-top: 0;
			margin-bottom: 0;
			color: #dedede;
		}

		.controls #prev {
			background: none;
			border: none;
			color: #b3b3b3;
			font-size: 24px;
			cursor: pointer;
		}

		.controls #next {
			background: none;
			border: none;
			color: #b3b3b3;
			font-size: 24px;
			cursor: pointer;
		}

		.controls #shuffle {
			background: none;
			border: none;
			color: #b3b3b3;
			font-size: 18px;
			cursor: pointer;
		}

		.controls #loop {
			background: none;
			border: none;
			color: #b3b3b3;
			font-size: 18px;
			cursor: pointer;
		}

		.controls #play {
			width: 57px;
			height: 57px;
			background-color: #ffffff;
			color: #000;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 28px;
		}

		#bottom-bar {
			width: 100%;
		}

		#player-mini {
			width: 90.5%;
		}

		.bottom-controls {
			width: 90%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.bottom-controls button {
			color: white;
			border: none;
			background: none;
			cursor: pointer;
		}

		#lyrics-new {
			text-align: left;
			padding-left: 12px;
			font-size: 24px;
			font-weight: 600;
			color: #212121;
			margin-top: 100px;
		}

		.footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.footer button {
			font-size: 12px;
		}

		.footer #devices {
			color: #b3b3b3;
		}

		.footer #dont-disturb {
			color: #b3b3b3;
		}

		.footer #teledisk {
			color: #b3b3b3;
		}

		.footer #lyrics {
			color: #b3b3b3;
		}

		.footer #share {
			color: #b3b3b3;
		}

		.footer #list {
			color: #b3b3b3;
		}
	}